FORMAT: 1A
HOST: http://sitev4.iotsdk.com/v2

# Gizwits Site API v2

## Error codes

| status |     code     | message |
|--------|:------------:|--------:|
| 400    | 10001        | username invalid |
| 400    | 10002        | A user with that username already exists. |
| 404    | 10003        | invalid product_key. |
| 403    | 10004        | device quota exhausted |
| 400    | 10005        | form invalid. |
| 404    | 10006        | question does not exist. |
| 400    | 10007        | Answer is wrong. |
| 404    | 10008        | code invalid. |
| 404    | 10009        | The code is expired. |


# Group API for passowrd protect question

## Answer [/answer]

### Register and Set Answer [POST]

+ Request (application/json)

    + Header

        Authorization: Basic a2VsbHk=

    + Body

        {
          "username": "15813269587",
          "password": "123456",
          "question_id": 1,
          "answer": "bob"
        }

+ Response 201 (application/json)

## Answer [/answer/verify]

### Verify Answer [POST]

+ Request (application/json)

    + Header

        Authorization: Basic a2VsbHk=

    + Body

        {
          "username": "15813269587",
          "question_id": 1,
          "answer": "bob"
        }

+ Response 200 (application/json)

    + Body
    
        {
          "code": "abc"
        }

## Reset Password by Code [/reset_pwd]

### Reset Password by Code [POST]

+ Request (application/json)

    + Header

        Authorization: Basic a2VsbHk=

    + Body

        {
          "username": "15813269587",
          "new_pwd": "123456",
          "code": "abc"
        }

+ Response 200 (application/json)
